.logo-wrap {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.logo-main {
    width: 100%;
    display: block;
}

.logo-qr {
    position: absolute;
    right: -10px;   /* 원하는 위치 */
    bottom: -10px;  /* 원하는 위치 */
    width: 80px;    /* QR 크기 조절 */
    height: 80px;
}
