HEAD
body {
    font-family: 'Pretendard', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.card {
    margin-top: 150px;
    padding: auto;
}

.logo {
    width: 150px;            /* <- 로고 사이즈 조절 */
    height: 150px;
    margin: 150px auto 20px auto;
    background-color: #0d0d0d; /* 로고 background = 전체 background */
    border-radius: 12px;     /* 필요하면 제거 가능 */
    display: flex;
    align-items: left;
    
}
.logo img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.eng {
    font-size: 15px;
    color: #555;
}

.role {
    margin: 2px 0;
    color: #333;
    font-size: 16px;
}

.buttons {
    margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
}

footer {
    margin-top: 40px;
    font-size: 12px;
    color: #777;
}

#qrcode {
    margin-top: 20px;
}

body {
    font-family: 'Pretendard', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.card {
    margin-top: 40px;
    padding: 25px;
}

.logo {
    width: 110px;
    margin-bottom: 20px;
    background-color: #0d0d0d;
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.eng {
    font-size: 15px;
    color: #555;
}

.role {
    margin: 2px 0;
    color: #333;
    font-size: 16px;
}

.buttons {
    margin-top: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
}

footer {
    margin-top: 40px;
    font-size: 12px;
    color: #777;
}

#qrcode {
    margin-top: 20px;
}